<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quos quam quo eos esse nulla ea aliquam consequuntur doloremque recusandae, fuga cupiditate temporibus tempore porro? Ullam porro laboriosam alias ipsam minus velit nesciunt at distinctio placeat fuga in odio doloribus, reiciendis magnam illum unde? A natus perspiciatis minus consectetur delectus.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut eaque voluptatibus nobis placeat fugiat, minus beatae et animi eum harum ipsum voluptas accusantium mollitia. Numquam quos fugit a laudantium. Veritatis fugiat consequatur, quaerat libero beatae aperiam iste. Suscipit, quas deleniti illo ea omnis ab aliquid pariatur vel assumenda at numquam!
    </p>

</article>
